/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --clr-gold: #c59d5f;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --white-shadow: 3px 5px 15px rgba(250, 248, 248, 0.9);
  --max-width: 1170px;
  --fixed-width: 620px;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font: 1.6rem;
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: chocolate;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

button {
  font: 1.3rem helvetica;
  padding: 0.8rem;
  border: 0.1rem;
  border-radius: 1rem;
}
button:hover {
  border: 0.1rem #404040 solid;
}

button.primary {
  background-color: rgb(236, 158, 90);
}
.fw {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 7rem;
  height: 100%;
}

header {
  grid-area: header;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/13471/sparkles.gif");
  /* background-color: linear-gradient(
    120deg,
    #ff9a9e 0%,
    #fecfef 99%,
    #fecfef 100%
  ); */
  color: #ffffff;
  background-color: pink;
  background-blend-mode: luminosity;
  opacity: 1;
  z-index: 2;
}

header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  max-width: 1500px;
  margin: 0 auto;
}

.links li {
  text-decoration: none;
}

header a {
  color: hotpink;
  text-decoration: none;
}

header a:hover {
  text-shadow: var(--white-shadow);
  transition: var(--transition);
}
.logo a {
  color: white;
  font-size: 2rem;
}
.links {
  transition: var(--transition);
  display: flex;
}

.links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}

footer {
  background-image: linear-gradient(180deg, #dcbef2 0%, #facee1 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(80, 79, 79);
}

/* Products */

.products {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.products li {
  /* flex: 0 1 30rem; */
  margin: 1rem;
  margin-bottom: 0;
  height: 42rem;
  border-top: 0.2rem #e0e0e0 solid;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23rem;
  background-color: #f9f5f5;
  padding-top: auto;
}

.product img {
  max-height: 26rem;
  max-width: 22rem;
  margin-top: 1rem;
}
.product-name {
  line-height: 2.2rem;
}
.product-brand {
  font-size: 1.2rem;
  color: #808080;
}
.product-price {
  font-size: 2rem;
}
.product-price span {
  font-size: 1.2rem;
}
/* Rating */
.rating {
  color: #ffc000;
  font-size: 1.8rem;
}
.rating span:last-child {
  color: #444444;
  font-size: 1.4rem;
}

.content {
  padding: 1rem;
}

/* Product Detail */
.details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  align-self: center;
}

.details-image {
  /* flex: 1 1 60rem; */
}

.details-image img {
  max-width: 60rem;
  width: 100%;
  margin: 0 20px 30px 0;
}

.info-container {
  min-width: 30rem;
  max-width: 45rem;
  margin: 0 0 0 30px;
}

.details-info ul,
.details-action ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.details-info h1 {
  font-size: 2rem;
  margin: 0;
}

.details-info li,
.details-action li {
  margin-bottom: 1rem;
}

.details-action {
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
  max-width: 30rem;
}

/*  Cart  */

.cart {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.cart-list {
  flex: 2 1 60rem;
}

.cart-action {
  flex: 1 1 20rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 1rem;
}

.cart-list-container {
  padding: 1rem;
  list-style-type: none;
}

.cart-list-container li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-list-container img {
  max-width: 10rem;
  max-width: 10rem;
}

.cart-list-container li:nth-child(1) {
  align-items: flex-end;
}

.cart-image {
  flex: 1 1;
}

.cart-name {
  flex: 8 1;
}

.cart-price {
  flex: 1 1;
  text-align: right;
}

.cart-name > div {
  padding: 1rem;
}

.cart-list h3 {
  margin: 0;
}
.cart-list button,
.cart-list select {
  font-size: 1.3rem;
  padding: 0.5rem;
}
